[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
aiohttp = "*"
typing-extensions = "*"
websockets = "*"
aioftp = "*"
colorist = "*"
matplotlib = "*"
bokeh = "*"
bokeh-sampledata = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.12"
